* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.header {
  background: url('../images/Placeholder.png') no-repeat center center/ cover;
  width: 100%;
  height: 450px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  margin: 0 auto;
}
