* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
   background-image: linear-gradient(
      180deg,
      rgba(5, 12, 47, 1),
      rgba(3, 11, 48, 0.9)
    ),
    url(../images/bg-image.png);
}
